*.pyc
*.F
*/build/
build/
.idea/
.DS_Store
*~
pyscripts/__src__.py
a.out
pyscripts/__src__.py
dist/uedge-8.0.0-py3.7-macosx-10.9-x86_64.egg
uedge.egg-info
pyscripts/__src__.py
*.egg
pyscripts/__src__.py
