include *
recursive-include  pyscripts *
recursive-include  pytests *
recursive-include  jupyter *
recursive-include  aph *
recursive-include  api *
recursive-include  bbb *
recursive-include  com *
recursive-include  flx *
recursive-include  grd *
recursive-include  svr *
recursive-include  wdf *
#recursive-include  dst *
#recursive-include  idf *
#recursive-include  psi *
#recursive-include  std *
