###########################################################################
#
# Configuration file for the NERSC IBM-SP.
#   $Id: AIX.config,v 7.0 2018/02/28 18:32:43 meyer8 Exp $
#
###########################################################################


###### Compilers and loaders

# Set MACHTYPE according to definition in file fcmixpar.h.

MACHTYPE = 2

#-build for multiple processor
CC = mpcc
FF = mpxlf
CLINKER  = $(FF)

#-build for single processor
CC1 = cc
FF1 = f77
CLINKER1  = $(FF1)

LDFLAGS  = -bnoquiet


ifdef DEBUG

    #-defaults for simple debug
    CCFLAGS = -g
    FFFLAGS = -g

    #-for memory debugging
    ifeq ($(strip $(DEBUG)),MEMDEBUG)
      # -qheapdebug vastly increased run-time; totalview sometimes hung
      CCFLAGS = -bmaxstack:0x10000000 -bmaxdata:0x60000000\
                -qheapdebug -check=bounds -g
      FFFLAGS = -C -g
      # hmd required with heapdebug -- debug_malloc
      EXTRA_LIBS= -l hmd
    endif

    #-for profiling with gprof or xprofile
    ifeq ($(strip $(DEBUG)),PROFILE)
      CCFLAGS = -g -pg
      FFFLAGS = -g -pg
      LDFLAGS = -bnoquiet -g -pg
    endif

else

    CCFLAGS = -O3 -qstrict -qarch=$(POWER)
    FFFLAGS = -O3 -qstrict -qmaxmem=-1 -qarch=$(POWER)

endif


ifeq ($(strip $(CPUNAME)),che)
  #-ORNL Cheetah machine 
  ###### Libraries
  PACT = /dfs/home/xu/PDB/pact/dev/aix-3
  PDB_LIB  = $(PACT)/lib_ibm

  #-optimization for specific hardware
  POWER = pwr4
else
  #-NERSC Seaborg machine


	###### Python
	USE_DGROTE_PY = $(DEFINED)

	ifndef USE_DGROTE_PY
	  PYTHON_ROOT = /usr/common/usg/python/2.3.2
	  PYVERS      = 2.3
	else
	  PYTHON_ROOT = /u3/grote/Python-2.2
	  PYVERS      = 2.2
	endif


  ###### Libraries
  PACT = /usr/common/homes/x/xu/BOUT/PDB/pact/dev/aix-3

  #-optimization for specific hardware
  POWER = pwr3
endif


MPI_LIBS = $(BLANK)





