###########################################################################
#
# Configuration file for python/basis package for Linux
#   $Id: Linux.config,v 7.0 2018/02/28 18:32:43 meyer8 Exp $
#
###########################################################################


ifneq ($(filter $(CPUNAME), mcr ilx pen ),)
  # LC MCR linux cluster -- qqq in progress
  ARCH     = $(ARCH_INC).$(CPUNAME)
endif

################### HROTHGAR/HRETHRIC ########################
ifneq ($(filter $(CPUNAME), hro hre ),)

  # MFE Hrothgar & Hrethric. cc is linked to gcc.

  COMPILER = Portland # Portland Group f90
  # COMPILER = Lahey-Fujitsu # Lahey-Fujitsu f95
  # COMPILER = Intel # Intel - WARNING; seems not to exist now on hrothgar?

  ifeq ($(strip $(COMPILER)),Portland)
    CC = $(FORTPATH)/bin/pgcc
    FORT     = $(FORTPATH)/bin/pgf90
    ifeq ($(strip $(DEBUG)),YES)
      CCFLAGS = -g ???
      FFFLAGS = -g
    endif
    FORTPATH = /usr/local/pgi/linux86
    # -lpgc necessary if loaded with gcc (distutils default) rather than pgcc 
    CLIBS    = -lpgc
    FORTLIB  = -L$(FORTPATH)/lib -lpgf90 -lpgf90_rpm1 -lpgf902 -lpgf90rtl -lpgftnrtl $(CLIBS)
    LD       = $(CC)
    # LDFLAGS  = -g -v -export-dynamic
    LDFLAGS  = -shared 
  endif

  ifeq ($(strip $(COMPILER)),Lahey-Fujitsu)
    FORT     = $(FORTPATH)/bin/lf95
    ifeq ($(strip $(DEBUG)),YES)
      CCFLAGS = -g #???
      FFFLAGS = -g --swm 8653 --dbl --quiet
    else
      FFFLAGS = --swm 8653 --dbl --quiet
                 ## --swm 8653 suppresses warning messages
                 ##  (block data initialization) for lf95
    endif
    FORTPATH = /usr/local/lf9561
    FORTLIB  = -L$(FORTPATH)/lib -lfj9i6 -lfj9e6 -lfj9f6
    LD       = gcc
    # wo -export-dynamic can't import py built-ins
    LDFLAGS  = -g -v -export-dynamic
  endif

  ifeq ($(strip $(COMPILER)),Intel)
             # vanished?
    FORT     = $(FORTPATH)/bin/ifc
    FFFLAGS  = -g -cm -w95
    FORTPATH = /opt/intel/compiler70/ia32
    FORTLIB  = -L$(FORTPATH)/lib -lCEPCF90 -lPEPCF90 -lF90 -lintrins
    LD       = gcc
    LDFLAGS  = -g -v -export-dynamic
  endif

  HasBASIS = defined

endif # MFE Hrothgar

##################### GRENDEL ##############################
ifneq ($(filter $(CPUNAME), gre ),)
  # Grendel -- careful:
  #   /usr/local/bin/python2.4; gist.pth = scipy/xplt
  #   /usr/bin/python2.3; gist.pth = gist
  
  PYTHON_ROOT = /usr/local
  PYVERS = 2.4 

  COMPILER = Portland # Portland Group f90
  # COMPILER = Lahey-Fujitsu # Lahey-Fujitsu f95; WARNING: not a Grendel option
  # COMPILER = Intel # Intel

  ifeq ($(strip $(COMPILER)),Portland)

    CC = $(FORTPATH)/bin/pgcc # license trouble
    CC = /opt/intel_cc_80/bin/icc
      CCFLAGS = -O -fPIC
    FORT     = $(FORTPATH)/bin/pgf90
    ifeq ($(strip $(DEBUG)),YES)
      CCFLAGS = -g
      FFFLAGS = -g
    endif
    FORTPATH = /usr/local/pgi/linux86/5.2
    # -lpgc necessary if loaded with gcc (distutils default) rather than pgcc 
    CLIBS    = -lpgc
    FORTLIB  = -L$(FORTPATH)/lib -lpgf90 -lpgf90_rpm1 -lpgf902 -lpgf90rtl -lpgftnrtl $(CLIBS)
    LD       = $(CC)
    # LDFLAGS  = -g -v -export-dynamic
    LDFLAGS  = -shared 

  endif
 
  ifeq ($(strip $(COMPILER)),Intel)

    CC = /opt/intel_cc_80/bin/icc
    FORT     = $(FORTPATH)/bin/ifort
    ifeq ($(strip $(DEBUG)),YES)
      CCFLAGS = -g -fPIC
      FFFLAGS = -g
    else
      # see BOUT for faster
      CCFLAGS = -O -fPIC
      FFFLAGS = -O3
    endif
    FORTPATH = /opt/intel_fc_80
    FORTLIB  = -L$(FORTPATH)/lib -lifcore
    LD       = $(CC)
    # LDFLAGS  = -g -v -export-dynamic
    LDFLAGS  = -shared 

  endif

  HasBASIS = defined

endif # MFE Grendel

################# EPPERLY LAPTOP #########################
ifneq ($(filter $(CPUNAME), dri ),)
  # driftcreek - Epperly laptop

  PYTHON_ROOT = /usr/local
  PYVERS = 2.4 

  COMPILER = GNU # GNU gfortran
  # can add other COMPILER options here as above

  ifeq ($(strip $(COMPILER)),GNU)

    CC = /usr/bin/gcc
    FORT = /usr/bin/gfortran
    CFLAGS = -g
    FFFLAGS - -g -fcray-pointer
    CLIBS =
    FORTLIB  = -lgfortran -lm
    LD       = $(CC)
    LDFLAGS  = -shared 

  endif
 
endif # Epperly laptop

##################### ATLAS ##############################
ifneq ($(filter $(CPUNAME), atl ),)
  # Atlas - LLNL

  PYTHON_ROOT = /usr/gapps/python/chaos_3_x86_64_ib/opt-2.5/
  PYVERS = 2.5 

  COMPILER =  Intel
  # can add other COMPILER options here as above

  ifeq ($(strip $(COMPILER)),Intel)

    CC = /urs/local/intel/compiler91_64/bin/icc
    FORT = $(FORTPATH)/bin/ifort
    ifeq ($(strip $(DEBUG)),YES)
      CCFLAGS = -g -fPIC
      FFFLAGS = -g
    else
      # see BOUT for faster
      CCFLAGS = -O -fPIC
      FFFLAGS = -O3
    endif
    FORTPATH = /urs/local/intel/compiler91_64
    FORTLIB  = -L$(FORTPATH)/lib -lifcore
    LD       = $(CC)
    # LDFLAGS  = -g -v -export-dynamic
    LDFLAGS  = -shared 

  endif

endif # Atlas LLNL


###### Python


###### Libraries

