###########################################################################
#
# Configuration file for Dec/Alpha .
#   $Id: OSF1.config,v 7.0 2018/02/28 18:32:43 meyer8 Exp $
#
###########################################################################


# Set MACHTYPE according to definition in file fcmixpar.h.

MACHTYPE = 1

ifeq ($(strip $(DEBUG)),YES)
  CCFLAGS = -g -ieee
  FFFLAGS = -g -ieee
else
  CCFLAGS = -fast -arch ev67 -ieee
  FFFLAGS = -fast -arch ev67 -ieee
  FF      = newf90
endif

FORT_LIBS = -L/usr/lib -lfor -lUfor

  M_LIB    = -lm

ifeq ($(strip $(CPUNAME)),tck)

  # Version for the Tc2k.

  MPI_LIBS = -lfmpi -lmpi -lelan -lelan3
else

  # Version for the gps Dec cluster.

  ARCH     = $(ARCH_INC).$(CPUNAME)
  MPI_LIBS = -lfmpi -lmpi
  X11_LIB  = -lX11
endif
